<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sample Form</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='exercise3.css') }}">
</head>
<body>

    <section id="exercise3">
        <h2>Tran Minh Khoa Information Form</h2>
        <form action="#" method="post">
          
          <label for="username">Username:</label>
          <input type="text" id="username" name="username">
    
          <label for="password">Password:</label>
          <input type="password" id="password" name="password">
    
          <label>Gender:</label>
          <input type="radio" id="male"   name="gender" value="male">
          <label for="male">Male</label><br>
          <input type="radio" id="female" name="gender" value="female">
          <label for="female">Female</label><br>
          <input type="radio" id="other"  name="gender" value="other">
          <label for="other">Other</label><br>
    
          <label for="membership">Membership Level:</label>
          <input list="Options" id="membership" name="membership">
          <datalist id="Options">
            <option value="Thành viên Bạc">
            <option value="Thành viên Vàng">
            <option value="Thành viên Kim Cương">
          </datalist>
    
          <label for="favcolor">Choose your favorite color:</label>
          <input type="color" id="favcolor" name="favcolor">
    
          <label>
            <input type="checkbox" id="correct" name="correct" value="correct">
            Correct
          </label>
    
          <input type="submit" value="Submit">
        </form>
      </section>
    </body>
    </html>